@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
	--blue: hsl(246, 80%, 60%);

	--lightOrange: hsl(15, 100%, 70%);
	--softBlue: hsl(195, 74%, 62%);
	--lightRed: hsl(348, 100%, 68%);
	--limeGreen: hsl(145, 58%, 55%);
	--violet: hsl(264, 64%, 52%);
	--softOrange: hsl(43, 84%, 65%);

	--veryDarkBlue: hsl(226, 43%, 10%);
	--darkBlue: hsl(235, 46%, 20%);
	--desaturatedBlue: hsl(235, 45%, 61%);
	--paleBlue: hsl(236, 100%, 87%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: var(--veryDarkBlue);
	color: var(--white);
}

.dashboard {
	margin: 200px auto 0;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 4rem;
	position: relative;
}

.activities {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 3rem;
	column-gap: 3rem;
	position: relative;
	top: 20px;
}

@media (max-width: 1200px) {
	#app {
		padding: 0 20px;
	}

	.dashboard {
		flex-direction: column;
		margin: 60px auto;
	}

	.activities {
		margin-top: 60px;
		grid-template-columns: 1fr;
		gap: 4rem;
	}
}
